<app-header></app-header>
<div class="products" *ngFor="let cart of carts">
  <div class="pad">
    <div class="card oneproduct text-center">
      <img src="{{cart.image}}" class="card-img-top" alt="Image">
        <div class="card-body">
            <h5 class="card-title">{{cart.productname}}</h5>
            <p class="card-text">{{cart.price}}</p>
            <p class="text-text">{{cart.description}}</p> 
            <a (click)="Delete(cart.cartid)"    class="btn  alert-danger rounded">Remove</a>
        </div>
    </div>
  </div>
</div>
<div class="alert alert-success alert-dismissible fade {{show}}">
  <button type="button" class="close" data-dismiss="alert" (click)="cross()">&times;</button>
  <strong>{{message}}</strong>
</div>