#photo{
    width: 100%;
    margin: auto;
}
.jumbotron{
    padding: 0;
    padding-top: 5px;
    padding-bottom: 10px;
    margin: auto;
}
.products{
    display: inline-flex;
}
.oneproduct{
    border: 1px solid grey;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: rgba(206, 201, 201, 0.19)
}
.pad{
    padding: 10px;
}
.image{
    border: 1px solid rgba(143, 135, 135, 0.19);
    width: 58%;
    margin-left: 22%;
}
.card{
    border: 1px solid black;
    border-radius: 10px;
}
.p{
    margin-left: 3%;
}

