.input-res
{
  color: rgb(0, 0, 0);
  width: 100%;
  max-width: 500px;
  background-color: rgb(255, 255, 255);
  border: none;
  padding: 10px 11px 11px 11px;
  border-radius: 3px;
  box-shadow: none;
  outline: none;
  margin: 0;
  box-sizing: border-box; 
}
.pos{
    width: 11%;
}
.container{
    width: 100%;
}
.intro{
    margin-top: 4%;
}
nav{
    margin-top: 0%;
    position: fixed;
    width: 100%;
    z-index: 9;
}
.potable{
    padding-top: 5%;
}